extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
      small #{pageHeader.strapline}

  .row
    .col-12.col-md-8
      .error= message
      app-home-list

    .col-12.col-md-4
      .card
        .card-block
          p.lead= sidebar

block scripts
  script(src='/build/runtime.e4985b6c090739db.js')
  script(src='/build/polyfills.05600847d04151be.js')
  script(src='/build/main.30248eff1ac0842a.js') 
  script(src='/build/styles.3b5699f7e2d88c61.css')